<header>
    <img src="assets/templates/img/join-header-logo.png" alt="" />
    <div class="header-info">
        <span id="header-tool-info">Kanban Project Management Tool</span>
        <a href="help.html"><img id="header-help-icon" src="assets/templates/img/help.png" alt=""></a>
        <div onclick="document.getElementById('header-navigation').classList.toggle('d-none');" class="outerContainer">
            <div id="userInitials">AD</div>
        </div>
        <!-- <img onclick="document.getElementById('header-navigation').classList.toggle('d-none');" src="assets/templates/img/user.png" alt=""> -->
        <div id="header-navigation" class="d-none">
            <a class="menu-item" href="legalnotice.html">Legal Notice</a>
            <a class="menu-item" href="legalnotice.html">Privacy Policy</a>
            <a class="menu-item" href="login.html">Log out</a>
        </div>
    </div>
</header>