<nav>
    <ul>
        <li>
            <a href="summary.html">
                <img src="https://picsum.photos/15/15" alt="Summary icon" />
                Summary
            </a>
        </li>
        <li>
            <a href="board.html">
                <img src="https://picsum.photos/15/15" alt="Board icon" />
                Board
            </a>
        </li>
        <li>
            <a href="add_task.html">
                <img src="https://picsum.photos/15/15" alt="Add task icon" />
                Add Task
            </a>
        </li>
        <li>
            <a href="contacts.html">
                <img src="https://picsum.photos/15/15" alt="Contact icon" />
                Contact
            </a>
        </li>
    </ul>
</nav>
