<nav>
  <div>
    <ul>
      <li>
        <a class="menu-item" href="summary.html">
          <img
            src="assets/templates/img/summary-icon.png"
            alt="Summary icon"
          />
          <span class="menu-desc">Summary</span>
        </a>
      </li>
      <li>
        <a class="menu-item" href="board.html">
          <img src="assets/templates/img/board-icon.png" alt="Board icon" />
          <span class="menu-desc">Board</span>
        </a>
      </li>
      <li>
        <a class="menu-item" href="add_task.html">
          <img src="assets/templates/img/task-icon.png" alt="Add task icon" />
          <span class="menu-desc">Add Task</span>
        </a>
      </li>
      <li>
        <a class="menu-item" href="contacts.html" onclick="getContacts()">
          <img
            src="assets/templates/img/contacts-icon.png"
            alt="Contact icon"
          />
          <span class="menu-desc">Contacts</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="legal-sites">
    <a target="_blank" href="privacypolicy.html">Privacy Policy</a>
    <a target="_blank" href="legalnotice.html">Legal notice</a>
  </div>
</nav>
