.titleInput {
    border: none;
    outline: none;
    border-bottom: 1px solid #D1D1D1;
    margin-bottom: 20px;
    width: 408px;
    height: 28px;
    padding: 13px 16px 13px 16px;
    font-size: 35px;
    color: #D1D1D1;
    font-weight: 1000;
}

.date {
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    margin-bottom: 30px;
    color: gray;
    width: 440px;
}

.date::-webkit-calendar-picker-indicator {
    background: url('/assets/img/calendarIcon.svg');
    color: 4589FF ;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
  }

.taskwidth {
    width: 440px;
    height: 100vh;
    margin-top: 50px;
}

.priority {
    height: 82px;
    margin-bottom: 20px
}

.priorityButtonsContainer {
    display: flex;
    justify-content: space-between;
    

}

.textarea {
    width: 420px;
    min-height: 83px;
    border-radius: 5px;
    border-top-left-radius: 0;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 10px 10px 10px;
    height: 83px;
    color: #D1D1D1;
    margin-top: 4px;
    margin-bottom: 20px;
}

.prioButton {
    width: 136px;
    height: 51px;
    padding: 18px 10px 18px 10px;
    gap: 10px;
    border-radius: 10px;
    border: none;
    background-color: white;
    box-shadow: 0px 0px 4px 0px #00000029;
    line-height: 22.8px;
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s, background-color 0.3s, color 0.3s;
}
.prioUrgent:hover {
    border-color: #FF3D00;
  }
  
  .prioMedium:hover {
    border-color: #FFA800;
  }
  
  .prioLow:hover {
    border-color: #7AE229;
  }
  
  .prioUrgent.selected {
    background-color: #FF3D00;
    color: white;
  }
  
  .prioMedium.selected {
    background-color: #FFA800;
    color: white;
  }
  
  .prioLow.selected {
    background-color: #7AE229;
    color: white;
  }

  .prioUrgent.selected .icon {
    display: none;
  }
  
  .prioUrgent.selected .icon-active {
    display: inline;
  }

  .prioMedium.selected .icon {
    display: none;
  }
  
  .prioMedium.selected .icon-active {
    display: inline;
  }

  .prioLow.selected .icon {
    display: none;
  }
  
  .prioLow.selected .icon-active {
    display: inline;
  }

/* Für Firefox */
input::placeholder {
    color: #D1D1D1;
  }
  
  /* Für Google Chrome, Opera und Safari */
  input::-webkit-input-placeholder {
    color: #D1D1D1;
  }
  
  /* Für Internet Explorer und Edge */
  input:-ms-input-placeholder {
    color: #D1D1D1;
  }

  
  .assignedTo {
    width: 440px;
    height: 79px;
    display: flex;
    flex-direction: column;
}

.custom-select {
    position: relative;
    width: 100%;
}

.selected-option {
    border-bottom: 1px solid gray;
    padding: 5px;
    cursor: pointer;
}

.options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    border-bottom: 1px solid gray;
    display: none;
}

.option {
    padding: 5px;
    cursor: pointer;
}

.option:hover {
    background: #D2E3FF;
    border-radius: 10px;
}

.custom-select.open .options {
    display: block;
}

.mb20 {
    margin-bottom: 20px;
}  


.option {
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.initials {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #D2E3FF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.option:hover {
    background: #D2E3FF;
    border-radius: 10px;
}
