.d-none {
  display: none !important;
}

.search-and-create {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin-left: 30px;
  width: 40%;
  height: 51px;
}

.search-input {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-right: 10px;
  padding: 8px 16px 8px 16px;
  border-radius: 10px;
  border: 1px solid rgba(168, 168, 168, 1);
  gap: 10px;
  height: 51px;
}

.search-input,
.add-task-btn {
  height: 51px;
  box-sizing: border-box;
}

.search-input input {
  height: 100%;
}

.add-task-btn {
  display: flex;
  align-items: center;
}

.search-input input {
  flex-grow: 1;
  border: none;
  outline: none;
  height: 100%;
}

.search-input .separator {
  height: 80%;
  border-left: 1px solid #ddd;
  margin: 0 10px;
}

.add-task-btn {
  cursor: pointer;
  background: rgba(69, 137, 255, 1);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: Open Sans;
  font-size: 23px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  border: 1px solid rgba(69, 137, 255, 1);
  height: 51px;
}

.add-task-btn img {
  width: 20px;
  height: 20px;
}

#searchIcon {
  cursor: pointer;
}

@media (max-width: 1500px) {
  .search-and-create {
    width: 50%;
  }
}

@media (max-width: 890px) {
  .search-and-create {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .search-and-create {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
    width: 100%;
  }

  .search-input {
    width: 100%;
    margin-bottom: 10px;
  }

  .add-task-btn {
    display: none;
  }

  h3{
    font-size: 18px !important;
  }

  #add-task-offcanvas{
    width: 100% !important;

    }
}

.kanban-board {
  display: flex;
  justify-content: space-between;
  height: 100%;
  overflow: auto;
  gap: 32px;
  flex-wrap: nowrap;
  overflow: auto;
}

.kanban-column {
  flex-grow: 1;
  margin: 0 16px;
  padding: 16px;
  box-sizing: border-box;
  min-width: 300px;
}

.kanban-card {
  cursor: pointer;
  background-color: #fff;
  border-radius: 24px !important ;
  margin-bottom: 16px;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  position: relative;
}

/* Für WebKit-Browser (wie Chrome und Safari) */
.kanban-column::-webkit-scrollbar {
  display: none;
}

/* Für Internet Explorer und Edge */
.kanban-column {
  -ms-overflow-style: none;
}

/* Für Firefox */
.kanban-column {
  scrollbar-width: none;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h3 {
  color: #42526e;
  font-size: 23px;
  font-weight: 700;
}

.add-Btn {
  cursor: pointer;
}

.kanban-card:last-child {
  margin-bottom: 0;
}

.category {
  background: rgba(255, 122, 0, 1);
  color: #ffffff;
  padding: 4px 16px;
  border-radius: 8px;
  font-size: 14px;
  margin-bottom: 5px;
  display: inline-block;
  max-width: 50%;
}

.task-title {
  font-weight: 700;
  margin-bottom: 5px;
  color: rgba(69, 137, 255, 1);
}

.short-desc {
  font-size: 14px;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Anzahl der Zeilen */
  -webkit-box-orient: vertical;
  color: rgba(168, 168, 168, 1);
  max-width: 300px;
}

.progress {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.progress-bar {
  height: 10px;
  background: #dddddd;
  margin-bottom: 5px;
  border-radius: 10px;
  overflow: hidden;
  flex-grow: 1;
}

.progress-done {
  height: 100%;
  background: rgba(69, 137, 255, 1);
}

.progress-text {
  font-size: 12px;
  margin-left: 10px;
}

.assignees {
  margin-bottom: 10px;
}

.assignee {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 5px;
  width: 30px; /* adjust as per your need */
  height: 30px; /* adjust as per your need */
  color: #ffffff;
  margin-right: -10px;
  font-size: 14px;
  text-align: center;
}

.board-priority {
  position: absolute;
  right: 16px;
  bottom: 16px;
}

.priority img {
  width: 15px;
  height: 15px;
}

.onDragOver{
  background-color: #d2e3ff2c;
  border-radius: 15px;
}

.rotate{
  transform: rotate(5deg);
  transition: 150ms;
}

#add-task-offcanvas{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 584px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
  border-radius: 30px 0px 30px 30px;
  transform: translateX(800px);
  transition: all 225ms ease-in-out;
  z-index: 3;
  background-color: white;
  overflow: auto;
}

.show-task-offcanvas{
  transform: translateX(0px) !important;
}

#board-addContact-closeBtn{
  position: absolute;
  right: 16px;
  top: 16px;
}