.kanban-board {
  display: flex;
  justify-content: space-between;
  height: 100%;
  overflow: auto;
  gap: 32px;
  flex-wrap: wrap;
}

.kanban-column {
  flex-grow: 1;
  margin: 0 16px;
  padding: 16px;
  box-sizing: border-box;
  min-width: 300px;
}

.kanban-card {
  cursor: pointer;
  background-color: #fff;
  border-radius: 24px !important ;
  margin-bottom: 16px;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  position: relative; 
}

.kanban-card:last-child {
  margin-bottom: 0;
} 

.category {
  background: rgba(255, 122, 0, 1);
  color: #FFFFFF;
  padding: 4px 16px;
  border-radius: 8px;
  font-size: 14px;
  margin-bottom: 5px;
  display: inline-block;
  max-width: 50%;
}

.task-title {
  font-weight: 700;
  margin-bottom: 5px;
  color: rgba(69, 137, 255, 1);
}

.short-desc {
  font-size: 14px;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Anzahl der Zeilen */
  -webkit-box-orient: vertical;
  color: rgba(168, 168, 168, 1);
}

.progress {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.progress-bar {
  height: 20px;
  background: #DDDDDD;
  margin-bottom: 5px;
  border-radius: 10px;
  overflow: hidden;
  flex-grow: 1;
}

.progress-done {
  height: 100%;
  background: #4CAF50;
}

.progress-text {
  font-size: 12px;
  margin-left: 10px;
}

.assignees {
  margin-bottom: 10px;
}

.assignee {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 5px; 
  width: 30px; /* adjust as per your need */
  height: 30px; /* adjust as per your need */
  color: #FFFFFF;
  margin-right: -10px; 
  font-size: 14px;
  text-align: center;
}


.priority {
  position: absolute;
  right: 16px;
  bottom: 16px;
}

.priority img {
  width: 15px;
  height: 15px;
}

/* Für WebKit-Browser (wie Chrome und Safari) */
.kanban-column::-webkit-scrollbar {
  display: none;
}

/* Für Internet Explorer und Edge */
.kanban-column {
  -ms-overflow-style: none;
}

/* Für Firefox */
.kanban-column {
  scrollbar-width: none;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h3{
  color: #42526e;
  font-size: 23px;
  font-weight: 700;
}

.no-tasks{
  background-color: rgba(231, 231, 231, 1);
  color: rgba(168, 168, 168, 1);
  border: 1px dotted rgba(168, 168, 168, 1);
  text-align: center;
}

@media (max-width: 950px){
    .kanban-column {
        min-width: 200px;
      }
}

