.edit-task-card {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #ffffff;
  width: 30%;
  height: 80%;
  border-radius: 30px;
  padding: 48px 40px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
}

.edit-task-card-header {
  color: #000;
  font-family: Open Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
  margin-bottom: 60px;
}

.edit-task-card-title {
  display: flex;
  padding: 13px 16px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border: none;
  border-bottom: 1px solid #d1d1d1;
  background: #fff;
  color: black;
  font-family: Open Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 38.4px */
  margin-bottom: 24px;
}

.edit-task-card-title::placeholder {
  color: #d1d1d1;
  font-family: Open Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 38.4px */
}

.edit-task-card-title:focus {
  border: none;
  border-bottom: 1px solid #4589ff;
  background: #fff;
}

.edit-task-card-title:focus-visible {
  outline: none;
}
