@media(max-width: 1200px) {
    .name-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}

@media(max-width: 1024px) {
    .contacts-content {
        width: 100%;
        z-index: 1;
    }

    .contact-container {

        position: absolute;
        z-index: 49;
        width: 100%;
        height: 95vh;
        background-color: white;
        display: none;
    }

    .addContact-Button-Media {
        display: inline-flex;
    }

    .new-contact-button-container {
        display: none !important;
    }

    #container {
        overflow: auto;
    }
}

@media(max-width: 600px) {
    .new-contact {
        width: 100%;
        box-shadow: 0;
        border-radius: 0;
    }

    .new-contact-input-field {
        width: 300px;
    }

    .new-contact-input {
        width: 270px;
    }

    .contact-container {
        padding: 0;
    }

    .contact-information {
        margin-left: 10px;
        width: 90%;
    }

    .name-container {
        margin: 10px;
    }
}

@media(max-height: 800px) {
    .new-contact {
        box-shadow: 0;
        border-radius: 0;
    }

    .new-contact-input-field {
        width: 300px;
    }

    .new-contact-input {
        width: 270px;
    }
    .new-contact-information {
        padding-top: 10px;
    }

    .new-contact-header {
        padding: 20px;
        height: 215px;
        text-align: center;
    }

    .new-contact-intro {
        width: 250px;
    }

    .edit-contact-header {
        padding: 20px;
        height: 215px;
        text-align: center;
    }

    .edit-contact {
        box-shadow: 0;
        border-radius: 0;
    }
}
