@media(max-width: 600px) {
    .forgot-password-container {
        width: 300px;
        padding: 18px 24px;
    }

    .sign-up-logo {
        width: 101px;
        height: 80px;
        top: 10px;
        left: 10px;
    }

    .forgot-password-header h1 {
        text-align: center;
    }

    .forgot-password-header-container {
        margin-right: 33px;
    }

    .link-back-login {
        margin-right: 0px;
    }

    .input-field-email-container-forgot-password{
        width: 265px;
    }

    .reset-password-header-container {
        text-align: center;
        margin-right: 33px;
    }
}

