@media(max-width: 1200px) {
    .sign-up-input-fields-container {
        width: 130%;
    }
}

@media(max-width: 900px) {
    .sign-up-logo {
        top: 31px;
        left: 51px;
        height: 91px;
        width: 70px;
    }
}

@media(max-width: 600px) {

    .sign-up-input-fields-container {
        width: 165%;
    }

    .forgot-password-container {
        width: 300px;
        padding: 18px 24px;
    }

    .forgot-password-header h1 {
        text-align: center;
    }

    .forgot-password-header-container {
        margin-right: 33px;
    }

    .input-field-email-container-forgot-password{
        width: 265px;
    }

    .reset-password-header-container {
        text-align: center;
        margin-right: 75px;
    }
}

@media(max-width: 575px) {
    .sign-up-container {
        width: 55%;
    }
}

@media(max-width: 400px) {
    .sign-up-container {
        padding: 24px 70px;
    }
}

@media(max-height: 680px) {
    .sign-up-logo {
        top: 10px;
        left: 10px;
        height: 51px;
        width: 30px;
    }
}
