/* Allgemeine Stile */
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

nav{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.legal-sites a{
  color: rgba(66, 82, 110, 1) !important;
}

#container {
  display: flex;
  flex-grow: 1;
  width: 100%;
  overflow: hidden;
}

header {
  background-color: #4589ff;
  padding: 20px 39px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.header-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.header-info img {
  cursor: pointer;
}

#sidebar {
  background-color: #e9ecef;
  padding: 20px;
  height: 100%;
  width: 300px;
  box-sizing: border-box;
}

main {
  flex-grow: 1;
  padding: 32px;
  box-sizing: border-box;
  overflow-y: auto;
}

.menu-item {
  padding: 8px 30px;
  border-radius: 8px;
  gap: 8px;
}

.menu-item:hover {
  background-color: #d2e3ff;
}

/* Mobile Ansicht */
@media (max-width: 768px) {
  #container {
    flex-direction: column;
  }

  .legal-sites{
    display: none;
  }

  #sidebar {
    width: 100%;
    height: auto;
    order: 2;
  }

  nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #header-tool-info {
    display: none;
  }

  #header-help-icon {
    display: none;
  }

  .menu-item {
    flex-direction: column;
    font-size: 15px;
    align-items: center;
    justify-content: center;
  }

  main {
    order: 1;
  }
}

#sidebar ul {
  list-style: none;
  padding: 0;
}

#sidebar li {
  margin-bottom: 20px;
}

#sidebar a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  padding: 10px;
}

#sidebar img {
  margin-bottom: 5px;
}


@media (max-width: 500px){
  .menu-item img{
      height: 20px;
  }

  .menu-desc{
      font-size: 10px;
  }

  nav{
    height: 65px;
  }

}
